version: "3.9"

services:
  db:
    image: postgres:15
    container_name: splitwise-db
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: splitwise-backend
    env_file:
      - .env
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: splitwise-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

volumes:
  db-data:

