version: "3.9"

services:
  db:
    image: postgres:15-alpine
    container_name: splitwise-db
    env_file:
      - .env
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: splitwise_v2
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: splitwise-backend
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8080:8080"

volumes:
  db-data:

