version: "3.9"

services:
  backend:
    image: chandans19/splitwise-backend:latest
    container_name: splitwise-backend
    env_file:
      - .env
    ports:
      - "8081:8080"

  nginx:
    image: nginx:alpine
    container_name: splitwise-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - backend
  
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus


volumes:
  db-data:

